body{
  margin:0;
  background:linear-gradient(rgba(0,0,0,.805),rgba(0,0,0,.805)),url("images/background.jpg") center/cover no-repeat fixed;
  color:#e5e5e5;
  font-family:Helvetica,Arial,sans-serif
}

.nav{
  position:sticky;

  height:50px;
  
 background: linear-gradient(90deg, #000000, #c4161c8e);
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 4px 15px rgba(0,0,0,.6)
}

.cars-logo{width:100px;height:auto}

.nav-links{display:flex;gap:30px}

.nav-item{
  position:relative;
  color:#fff;
  text-decoration:none;
  font-size:16px;
  padding:5px 0;
  transition:.3s
}

.nav-item::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;
  height:2px;
  background:#f5c400;
  transition:.3s
}

.nav-item:hover,
.nav-item.active{color:#f5c400}

.nav-item:hover::after,
.nav-item.active::after{width:100%}

.hero{display:flex;gap:40px;padding:40px}

.hero h2{color:#f5c400;font-size:36px;margin-bottom:10px}



.hero-layout{display:flex;align-items:center;padding-left:80px}

.hero-left{max-width:700px}

.hero-left h2,
.hero-left p{text-align:left}

.hero-banner img{width:100%;height:300px;object-fit:cover}

.section{
  color:#f5c400;
  padding:60px;
  text-align:center;
height: 750px;
}

.grid{
  display:grid;
  color:#fff;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
  margin-top:40px
}

.card,.scene{
  background:#1a1a1a;
  padding:20px;
  border-radius:10px;
  transition:.3s
}

.card:hover,.scene:hover{transform:scale(1.05)}

.card img,.preview img{width:100%;border-radius:8px}

.scene p{margin-top:10px;color:#f5c400}

.overview-layout{
  display:flex;
  gap:40px;
  align-items:center
}

.overview-layout img,
.overview-text{
  border-radius: 10px;
  background: linear-gradient(90deg, #0000008e, #c4161c8e);
  width:35%;
}

.carousel{
  position:relative;
  width:70%;
  margin:auto;
  overflow:hidden;
  border-radius:10px
}

.carousel-track{display:flex;transition:.6s ease}

.carousel img{
  width:100%;
  flex-shrink:0;
  object-fit:cover
}

.carousel-btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:rgba(0,0,0,.6);
  color:#fff;
  border:none;
  padding:10px 14px;
  cursor:pointer
}

.carousel-btn.left{left:10px}
.carousel-btn.right{right:10px}

.scenes-layout{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:40px
}

.scene-main video{
  width:100%;
  height:420px;
  object-fit:cover;
  border-radius:10px
}

.scene-description{
  margin-top:20px;
 background: linear-gradient(90deg, #0000008e, #c4161c8e);
  padding:20px;
  border-radius:10px
}

.scene-description h3{color:#f5c400;margin-bottom:10px}

.scene-list{
  display:flex;
  flex-direction:column;
  gap:15px
}

.scene-item{
  background:#1a1a1a;
  padding:15px;
  border-radius:8px;
  cursor:pointer;
  transition:.3s
}

.scene-item:hover{
  transform:translateX(5px);
  background:#222
}

.scene-item.active{
  border-left:4px solid #f5c400;
  background:#222;
}




.home-carousel{
  width:100%;
  max-width:800px;
  margin:20px 0 30px
}

.home-carousel img{height:320px;object-fit:cover}

.home-about{
  max-width:800px;
  background:rgba(0,0,0,.6);
  padding:25px;
  border-radius:12px
}

.home-about h3{color:#f5c400;margin-bottom:10px}

.home-about p{line-height:1.6;font-size:15px}

.intro{margin-left:20px;font-size:20px}

.featured,.about{padding:40px 80px}

.about{
  background: linear-gradient(90deg, #0000008e, #c4161c8e);
  color: #f5c400;
  font-size:20px;
  margin:auto
}

.about h3,.intro h2{color:#f5c400}

.preview-grid{
  display:grid;
  grid-template-columns:2fr 1fr 1fr;
  gap:20px;
  padding:40px 80px
}

.preview img{
  height:200px;
  object-fit:cover;
  transition:.3s
}

.preview img:hover{transform:scale(1.05)}

#page-transition{
  position:fixed;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background:#c4161cb3;
  z-index:9999;
  display:flex;
  align-items:center;
  justify-content:center;
  pointer-events:none
}

#page-transition img{max-width:90%}

#page-transition.active{animation:slideScreen .8s forwards}

.footer{
  background: linear-gradient(90deg, #000000, #c4161c8e);
  padding:2.5rem, 2rem;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.6);
  color:#fff
}
.footer-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

.footer-brand h3{

  margin-bottom:0.5rem;
}

.footer-brand p{
  font-size:14px;
  line-height:1.6;
  color: #f5c400;
  margin-top: 0.5rem;
}

.footer-socials{
  display:flex;
  flex-direction:column;
  gap:0.8rem;
}

.footer-socials a{
  color:#fff;
  text-decoration:none;
  font-size:14px;
  transition:.3s;
}

.footer-socials a:hover{
  color:#f5c400;
  transform: translate(5px);
}

.footer-credit{
  text-align:right;

}
.footer-credit{
  font-size: 13px;
  opacity: 0.8;
  color: #e5e5e5;
}
@media(max-width:768px){
  .footer-content{grid-template-columns:1fr;text-align:center}
  .footer-credit{text-align:center}
}

@keyframes slideScreen{
  from{left:-100%}
  to{left:0}
}
